body {
    font-family: 'Ubuntu Mono';
    padding: 0;
    margin: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.banner {
    background: lightblue;
    height: 400px; width: 100%;
    position: relative;
}

.banner-overlay {
    color: white;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%; left: 50%;
}

.nowrap {
    white-space: nowrap;
    display: inline;
}